<!-- Features (Accomplishments) -->
<article>
    <div class="feature-fig">
        <figure>
            <a href="https://github.com/funkhou9/editTools" class="image"><i class="fa fa-cogs fa-5x"></i></a>
            <figcaption></figcaption>
        </figure>
    </div>
    <div class="inner">
        <h4>editTools</h4>
        <p>
          editTools is a fast R package designed using compiled code meant for the
          anlaysis of RNA editing from whole genome sequencing and RNAseq data.
          It is used to generate results for the manuscript <i>Evidence for
          transcriptome-wide RNA editing among Sus scrofa PRE-1 SINE elements</i>.
        </p>
    </div>
</article>

<article>
    <div class="feature-fig">
        <figure>
            <a href="https://github.com/funkhou9/spin-my-script" class="image"><i class="fa fa-cog fa-spin fa-5x"></i></a>
            <figcaption></figcaption>
        </figure>
    </div>
    <div class="inner">
        <h4>spin</h4>
        <p>
          spin is a simple R/Bash solution for easy submission of R scripts on PBS
          resource managers. Designed with literate programming and file
          organization in mind.
        </p>
    </div>
</article>

<article>
    <div class="feature-fig">
        <figure>
            <a href="https://github.com/funkhou9/breedTools" class="image"><i class="fa fa-cogs fa-5x"></i></a>
            <figcaption></figcaption>
        </figure>
    </div>
    <div class="inner">
        <h4>breedTools</h4>
        <p>
           breedTools is an R package that uses simple and fast methods to
           estimate breed or subpopulation composition. It is used to generate
           results for the manuscript <i>Estimation of genome-wide and
           locus-specific breed composition in pigs</i>.
        </p>
    </div>
</article>

<article>
    <div class="feature-fig">
        <figure>
            <a href="https://docs.google.com/presentation/d/1EWTvuXNPPxO0b9UdSTHNCpx4rSfZ67RNgMsPYhgZ-zk/edit?usp=sharing" class="image"><i class="fa fa-comments fa-5x"></i></a>
            <figcaption></figcaption>
        </figure>
    </div>
    <div class="inner">
        <h4>My ePoster at the 2016 ISAG conference</h4>
        <p>
            An interactive ePoster showcasing swine editome patterns and its association with PRE-1 retrotransposons.
            During presentation, the ePoster was in presentation mode with click to advance set to off. Navigation
            is done using interactive ePoster elements.
        </p>
    </div>
</article>

<article>
    <div class="feature-fig">
        <figure>
            <a href="http://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-017-3766-7" class="image"><i class="fa fa-quote-right fa-5x"></i></a>
            <figcaption></figcaption>
        </figure>
    </div>
    <div class="inner">
        <h4>BMC Genomics publication</h4>
        <p>
          <i>
             Evidence for
             transcriptome-wide RNA editing among Sus scrofa PRE-1 SINE elements
          </i>
        </p>
    </div>
</article>

<article>
    <div class="feature-fig">
        <figure>
            <a href="https://www.animalsciencepublications.org/publications/tas/articles/1/1/36" class="image"><i class="fa fa-quote-right fa-5x"></i></a>
            <figcaption></figcaption>
        </figure>
    </div>
    <div class="inner">
        <h4>T.A.S. publication</h4>
        <p>
          <i>
            Estimation of genome-wide and
            locus-specific breed composition in pigs
          </i>
        </p>
    </div>
</article>
