<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Scott Funkhouser</a></h1>
            <p>Genetics and Quantitative Biology PhD Candidate at Michigan State University</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/cv/resume.html">Curriculum vitae</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>

            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/saf6" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/funkhou9" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/scottafunkhouser" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="http://stackoverflow.com/users/3992958/scott-funkhouser?tab=profile" class="icon fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
                <li><a href="mailto:sfunkhouser@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
